@import "./theme/index";
@import "./reset/index";
@import "./body/index";
@import "./wrapper/index";

.filter{
  //display:none;
  visibility: hidden;
  opacity: 0;
  order: 1;
}

.mobile{
  display:auto !important;
}

.desktop{
  display:none !important;
}

@media screen and (min-width: 1025px){
  .filter{
  visibility: hidden;
  opacity: 0;
  order: 1;
  }

  .mobile{
    display:none !important;
  }

  .desktop{
    display:block !important;
  }
}

