.filter-option-container {
  overflow: hidden;
  transition: height ease;
  height: 36px;

  .filter-option-header {
    display: flex;
    justify-content: space-between;
    font-size: 1.25rem;
    padding: 0.5rem 0;
    color: var(--dark-75);
    font-weight: unset;

    * {
      pointer-events: none;
    }
  }
}
.option {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.cores {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.submit-button {
  padding: 0.5rem;
  background-color: var(--primal);
  color: white;
  border: none;
  border: solid thin var(--primal);
  width: 50%;
  cursor: pointer;
}

input[type="reset"] {
  padding: 0.5rem;
  background-color: white;
  border: solid thin var(--dark-75);
  color: var(--dark-75);
  width: 50%;
  cursor: pointer;
}

.form-buttons {
  display: flex;
  width: 100%;
  gap: 1rem;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.radio-container {
  display: flex;
  flex-wrap: wrap;
  width: 55%;
  gap: 0.25rem;
}

.radio {
  border: 1px solid #ccc;
  box-sizing: border-box;
  height: 32px;
  position: relative;
  width: 32px;
}

.radio label {
  background: #fff no-repeat center center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  white-space: nowrap;
}

.radio label span {
  z-index: 1;
}
.radio label input[type="checkbox"] {
  all: unset;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.radio label input[type="checkbox"]:checked {
  background-color: white;
  border: solid thin var(--primal);
  box-sizing: border-box;
}
.radio label input[type="checkbox"]:checked + span {
  color: var(--dark);
}

input[type="checkbox"]:not(old) {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}

input[type="checkbox"]:not(old) + label::-moz-selection,
input[type="checkbox"]:not(old) + label::selection {
  color: inherit;
  background-color: transparent;
}

input[type="checkbox"]:not(old) + label {
  cursor: pointer;
}

input[type="checkbox"]:not(old) + label:before {
  content: "";
  width: 15px;
  height: 15px;
  border: 1px double black;
  cursor: pointer;
  vertical-align: top;
  display: inline-block;
  margin-right: 5px;
}

input[type="checkbox"]:not(old):checked + label:before {
  box-shadow: inset 0 0 1px 2px white;
  background: var(--primal);
}

.radio label input[type="radio"] {
  all: unset;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.radio label input[type="radio"]:checked {
  background-color: white;
  border: solid thin var(--primal);
  box-sizing: border-box;
}
.radio label input[type="radio"]:checked + span {
  color: var(--dark);
}

input[type="radio"]:not(old) {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}

input[type="radio"]:not(old) + label::-moz-selection,
input[type="radio"]:not(old) + label::selection {
  color: inherit;
  background-color: transparent;
}

input[type="radio"]:not(old) + label {
  cursor: pointer;
}

input[type="radio"]:not(old) + label:before {
  content: "";
  width: 15px;
  height: 15px;
  border: 1px double black;
  cursor: pointer;
  vertical-align: top;
  display: inline-block;
  margin-right: 5px;
}

input[type="radio"]:not(old):checked + label:before {
  box-shadow: inset 0 0 1px 2px white;
  background: var(--primal);
}

.open-buttons {
  opacity: 1 !important;
}

.option-margin {
  margin: 1rem 0;
  width: 210px;
}

.filter-open {
  height: 100%;
}

.color-option {
  margin: 1rem 0;
}

@media screen and (min-width: 1040px) {
  .form-buttons {
    display: none;
  }

  .filter-sub {
    margin: 1rem 0;
  }

  .color-option {
    margin: 0;
    margin-top: 1rem;
  }

  #filter-form {
    position: sticky;
    top: 1rem;
    width: 200px;
  }

  .filter-cores {
    height: 230px;
    overflow: hidden;
  }

  .show-colors {
    font-size: 0.9rem;
    color: var(--dark-75);
    cursor: pointer;
    display: flex;
  }

  .show-colors * {
    pointer-events: none;
  }

  .show-colors h3 {
    text-decoration: underline;
  }

  .show-colors span {
    margin: 0 0.25rem;
  }

  .filter-cores-open {
    height: 100%;
  }

.radio-container {
  width: 50%;
}

}
