@import "filter";

.wrapper {
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: white;
  color: var(--dark-75);
  transform: translateX(100%);
  transition: transform 0.5s ease;
  top: 0;
  bottom: 0;
  position: fixed;
  overflow-y: scroll;
  overflow-x: hidden;

  .wrap-header {
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    border-bottom: medium solid var(--dark-50);
    font-size: 1.5rem;
    font-weight: 400;
    padding: 1rem;

    h2{
      display:flex;
      justify-content: center;
      align-items: center;
    }
  }

  .wrap-filter-body {
    padding: 1rem;
  }

  .wrap-order-body {
    display: flex;
    flex-direction: column;
    padding: 1rem;

    .wrap-order-option {
      width: 100%;
      text-align: left;
      border: none;
      background-color: transparent;
      font-size: 1.25rem;
      padding: 0.75rem 0;
    }
  }
}

.wrap-open {
  transform: translateX(0%);
}

.wrap-close {
  cursor:pointer;
  padding:.25rem;
  border:solid thin red;
  color:red;
  width: 50px;
  height:100%;
  display:flex;
  justify-content: center;
  align-items: center;
}

.wrap-close:hover {
  cursor:pointer;
  padding:.25rem;
  border:solid thin red;
  background-color: red;
  color:white;
}
