.carrinho {
  cursor: pointer;
  position: relative;
}

.cart {
  position: relative;
}

.rounded-circle {
  pointer-events: none;
}

#cart_menu_num {
  position: absolute;
  top: 10px;
  left: 10px;
  background: var(--primal);
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 2px;
}

#cart-container {
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: white;
  color: var(--dark-75);
  transform: translateX(100%);
  transition: transform 0.5s ease;
  top: 0;
  bottom: 0;
  position: fixed;
  overflow-y: scroll;
  overflow-x: hidden;

  .cart-product {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    border: solid thin grey;
    border-radius: 0.25rem;
    overflow: hidden;
    margin: 0.25rem 0.5rem;

    .img-prod {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0.5rem;
      width: 70px;
    }

    img {
      width: 100%;
      height: auto;
    }

    .count-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      height: 100%;

      button {
        width: 50px;
        height: 100%;
        border: none;
        background-color: var(--primal);
        color: white;
        font-weight: bold;
        font-weight: bold;
      }

      div {
        font-weight: bold;
        margin: 0.5rem;
      }
    }
  }
}
.cart-wrap-header {
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  border-bottom: medium solid var(--dark-50);
  font-size: 1.5rem;
  font-weight: 400;
  padding: 1rem;
}

.cart-container-open {
  transform: translateX(0%) !important;
}

@media screen and (min-width: 1040px) {
  .cart-background {
    width: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #0002;
    opacity: 0;
    transition: opacity ease 0.3s;
    pointer-events: none;
    display: flex;
    justify-content: center;
  }

  .cart-background-true {
    pointer-events: auto;
    opacity: 1;
  }

  #cart-container {
    width: 600px;
    height: 500px;
    right: 1rem;
    border-radius: 0.5rem;
    background-color: white;
    color: var(--dark-75);
    transform: translateX(100%);
    transition: transform 0.5s ease;
    top: 20vh;
    position: fixed;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-box-shadow: 0px 10px 64px -17px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 10px 64px -17px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 10px 64px -17px rgba(0, 0, 0, 0.75);
  }
}
